[Bb]in/
[Oo]bj/
*.user
*.suo

.vs/

**/.env
AirTracker_API/appsettings.json
AirTracker_API/appsettings.Development.json

AirTracker_API/wwwroot/videos/

__pycache__/
*.pyc

*.docx
*.drawio
~$*

*.h2d

.claude/
